<!DOCTYPE html>
<html lang="en" ng-app="app1" ng-cloak>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Angular to-do app | Bill Castillo</title>
	<style>
		[ng\:cloak], [ng-cloak], .ng-cloak {
			display: none;
		}
	</style>
	<link rel="stylesheet" href="dist/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lora:700|Roboto:300,400" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="180x180" href="https://billcastillo.me/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="https://billcastillo.me/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="https://billcastillo.me/favicon-16x16.png" sizes="16x16">
</head>
<body>
	
	<div class="wrapper">
		<div class="container">
		<div ng-controller="ctrl1">
			
			<h1 class="mainTitle">To-do List</h1>
			
			<div class="formInput">
				<h2>Add a task:</h2>
				<input id="addTask" type="text" ng-model="typeTask" ng-required="true">
				
				<button ng-click="addTasks(typeTask)">Add</button>
			</div>
			
			<div ng-include="'tasks.html'"></div>
			
			<!--
			<label for="showDoneTasks">
				<input id="showDoneTasks" name="showTasks" type="checkbox" ng-model="showTasks">Show Done Tasks
			</label>

			<ng-include src="getTasks()"></ng-include>
			-->

		</div>
		</div><!-- container -->
	</div><!-- wrapper -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/script.js"></script>
	<script>
		$(document).ready(function() {
			$( ".taskCheckbox input[type=checkbox]" ).on( "click", function(){

			});
			var name = $('.taskCheckbox input[type=checkbox]').is(':checked');
			console.log(name);

			$('.ng-not-empty').parent().find('span').css('color', '#d0ff9f');
		});
	</script>

</body>
</html>